.formAct{
 text-align: center;
 padding: 2vw;
 margin-top: 5vw;
 justify-items: center;
 
 
}
.inputs{
    padding: 1vw;
}
.tittles{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email{
    margin:1vw;
}
.password{
    margin:1vw;
}
.email label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.password label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.inputName{
    
}
.fondo{
  
}
.btnAcept{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50; /* Green */
  color: white;
  width: 10vw;
  height: 3vw;
  border-radius: 1vw;
  font-size: 20px;
  border-color: white;
}
.fondo{
    background-color: teal;
    margin: 0%;
  }